/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./user
 *= require_self
 *= require font-awesome
 */

html {
  color: #333;
  font-size: 14px;
}

#Header {
  padding: .5em;
  border-bottom: 1px solid #ccc;
}

#MainContent {
  margin: auto 1em;
}

h1 {
  text-align: center;
  margin: .25em;
  padding: .25em .5em;
  font-size: 140%;
}

h2 {
  font-weight: bold;
  font-size: 120%;
}

div.sb-slidebar {
  color: #ccc;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: .5em;
      border-bottom: 1px solid #666;

      a {
        text-decoration: none;
        color: #ccc;
      }
    }
  }
}
