/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./user
 *= require_self
 *= require font-awesome
 */

html {
  color: #333;
  font-size: 14px;
}

#Header {
  padding: .5em;
  margin-bottom: 1em;
  position: relative;
  background-color: #003;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);

  i {
    position: absolute;
    color: #fff;
    opacity: 0.5;
  }

  span.site_name {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Lobster Two', cursive;
  }
}

#MainContent {
  margin: auto 1em;
}

#Footer {
  background-color: #003;
  color: #fff;
  margin-top: 1em;
  padding: 1em 0;
}

#Copyright {
  font-size: 80%;
  text-align: center;
}

h1 {
  text-align: center;
  margin: .25em;
  padding: .25em .5em;
  font-size: 130%;
}

h2 {
  font-weight: bold;
  font-size: 120%;
}

div.sb-slidebar {
  color: #ccc;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid #666;

      a {
        display: block;
        padding: 1em;
        text-decoration: none;
        color: #ccc;
      }
    }
  }
}
