// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body[data-controller_name="articles"][data-action_name="index"] {
  h2 {
    margin: 1em 1em .5em 1em;
    font-size: 100%;
  }

  div.article {
    margin: .5em 0 1.5em 0;
    padding-bottom: .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: .25em;

    div.photo {
      width: 100%;
      height: 160px;
      background-position: center center;
      background-size:cover;
      border-radius: .25em .25em 0 0;
    }

    p {
      margin: .5em 1em;
      line-height: 140%;
    }
  }

  ul.destinations {
    list-style-type: none;
    margin: 0 2em;
    padding: 0;
  }
}

body[data-controller_name="articles"][data-action_name="show"] {
  h2 {
    margin: 1em 1em .5em 1em;
    font-size: 100%;
  }
}

