// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.destination {
  margin: .5em 0 1.5em 0;
  padding-bottom: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: .25em;

  div.photo {
    width: 100%;
    height: 160px;
    background-position: center center;
    background-size:cover;
    border-radius: .25em .25em 0 0;
  }

  h2 {
    margin: 1em 1em .5em 1em;
    font-size: 100%;
  }

  p {
    margin: .5em 1em;
    line-height: 140%;
  }
}

body[data-controller_name="destinations"][data-action_name="show"] {
  div.cover_photo {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center center;
  }

  p.description {
    line-height: 140%;
  }

  div.distance {
    text-align: center;
    font-size: 90%;
    background-color: #eee;
    padding: .25em;
    margin-bottom: .5em;

    span.distance {
    }
  }

  #RouteMap {
    height: 360px;
  }

  div.spot {
    margin: .5em 0 1.5em 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    border-radius: .25em;
    overflow: hidden;

    div.photo {
      float: left;
      margin: 10px;
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: center center;
    }

    div.text {
      &.with_photo {
        padding-left: 140px;
      }

      &.without_photo {
        padding-left: 10px;
      }

      padding-right: 10px;

      h3 {
        margin-top: 10px;
        margin-bottom: .5em;
        font-size: 105%;
        font-weight: bold;
      }

      p {
        margin: 0;
        padding: 0 0 10px 0;
      }

      p.url {
        font-size: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    span.display_in_map {
      font-size: 90%;
      background: #EEE;
      border: 1px solid #DDD;
      border-radius: .25em;
      color: #111;
      width: 100px;
      padding: .5em 1em;

      &.done {
        color: #ccc;
      }
    }

    div.text:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}
